h4 {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  font-style: italic;
}

div#topbox {
  width: 1000px;
  height: 100px;
  color: white;
  background-color: #E8D2FF;
  margin: 15px 0 0 80px;
  border: 2px solid black;

}

#topbox li {
  display: inline-block;
  font-style: italic;
  font-size: 3em;
  padding: 25px;

}

div#second-box {
  width: 400px;
  height: 550px;
  margin: 15px 0 0 80px;
  float: left;
  background-color: #FFDFF7;
  border: 2px solid black;
  text-align: center;
}

div#second-box li {
  font-size: 2em;
  font-family: Arial;
  list-style-type: none;
  margin: 30px;
  display: block;
}

div#third-box {
  width: 560px;
  height: 550px;
  background-color: #FFDFF7;
  margin: 15px 0 0 30px;
  float: left;
  border: 2px solid black;
}

div#third-box li {
  list-style-type: none;
}

div.song-title {
  font-family: Arial;
  font-size: 1.5em;
  text-align: center;
  margin: 35px;

}

li.main {
  font-size: 1.2em;
  font-family: Arial;
  padding: 25px;
  color: black;
}

li {
  font-family: Arial;
  font-size: 1.em;
  display: block;
}

li.small {
  display: inline;
  margin: 0 7px 0 7px;
  border: .5px solid black;
  font-family: Arial;
  color: black;
  text-align: center;

}

#third-box div:nth-child(even) {
  background-color: #FFF5EE;
}

#third-box div:nth-child(odd) {
  background-color: #F5FFFA;
}

.hidden {
  display: none;
}

/*.box-three {
  display: none;
}*/