h4 {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  font-style: italic;
}

#topbox {
  width: 800px;
  height: 100px;
  background-color: #FFB4B0;
  margin: 40px 0 0 80px;
  border: 2px solid black;

}

#topbox li {
  display: inline-block;
  font-size: 2em;
  padding: 25px;

}

div#second-box {
  width: 300px;
  height: 485px;
  margin: 20px 0 0 80px;
  float: left;
  background-color: #4DD7FA;
  border: 2px solid black;
  text-align: center;
}

div#second-box li {
  font-size: 1.8em;
  font-family: Arial;
  list-style-type: none;
  margin: 20px;
  display: block;
}

div#list-one {
  font-size: 1em;
  display: block;
  float:left;
  margin-bottom: 8px;

}

div#list-two {
  font-size: 1em;
  display: block;
  float: left;
  margin-bottom: 8px;
}


div#third-box {
  width: 460px;
  height: 485px;
  background-color: #FEFAC0;
  margin: 20px 0 0 30px;
  float: left;
  border: 2px solid black;
}

div#third-box li {
  list-style-type: none;
}

div.song-title {
  font-family: Arial;
  font-size: 2em;
  text-align: center;
  margin: 25px;

}

li.main {
  font-size: 2em;
  font-family: Arial;
  padding: 25px;
  color: black;
}

li {
  font-family: Arial;
  font-size: 1em;
  display: block;
}

li.small {
  display: inline;
  margin: 0 7px 0 7px;
  border: .5px solid black;
  font-family: Arial;
  color: black;
  text-align: center;

}







