h4 {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  font-style: italic;
}
div#all-boxes {
  /*width: 900px;*/
  margin: auto;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

#topbox {
  width: 800px;
  height: 100px;
  background-color: #FFB4B0;
  /*margin: 40px 0 0 80px;*/
  border: 2px solid black;
  flex: 1 100%;
}

#topbox {
  position: fixed;
  top: 0em;
}

#topbox li {
  display: inline-block;
  font-size: 2em;
  padding: 25px;

}

div#second-box {
  flex-grow: 1;
  width: 300px;
  /*height: 485px;*/
  margin: 95px 0 0 50px;
  /*float: left;*/
  background-color: #4DD7FA;
  border: 2px solid black;
  text-align: center;
}

div#second-box li {
  font-size: 1.3em;
  font-family: Arial;
  list-style-type: none;
  margin: 25px;
  display: block;
}

div#list-one {
  font-size: 1em;
  display: block;
  /*float:left;*/
  margin-bottom: 15px;

}

div#list-two {
  font-size: 1em;
  display: block;
  /*float: left;*/
  margin-bottom: 20px;
}
div#list-three {
  font-size: 1em;
  display: block;
  /*float: left;*/
  margin-bottom: 6px;
}
/*div#filter {
  text-align: center;
}
*/
div#third-box {
  flex-grow: 6;
  width: 400px;
  /*height: 485px;*/
  background-color: #FEFAC0;
  margin: 95px 30px 30px 50px;
  /*float: left;*/
  border: 2px solid black;
}


div#third-box li {
  list-style-type: none;
}

div.song-title {
  font-family: Arial;
  font-size: 1.5em;
  text-align: center;
  margin: 35px;

}

/*li.main {
  font-size: 1em;
  font-family: Arial;
  padding: 25px;
  color: black;
}
*/
li {
  font-family: Arial;
  font-size: .5em;
  display: block;
}

li.small {
  display: inline;
  margin: 0 7px 0 7px;
  border: .5px solid black;
  font-family: Arial;
  color: black;
  text-align: center;
}

#third-box div:nth-child(even) {
  background-color: #FFF5EE;
}

#third-box div:nth-child(odd) {
  background-color: #F5FFFA;
}

#third-box :first-of-type {
  font-weight: bold;
}


