{{#each songs}}
		<div>
   		<h3>{{title}}</h3>
  			<ul>
     		 <li>{{artist}}</li>
      		<li>{{album}}</li>
  			</ul>
  	</div>
  <input type="button" id="delete" value="Delete"></input>
{{/each}}